@CHARSET "UTF-8";
.main {
	width:960px;
	height:auto;
	margin:5px auto;
	background:#fff;
}
.content {
	width:737px;
	height:auto;
	min-height:500px;
	float:left;
	text-align:left;
	border-top:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.certfication {
	margin:10px 80px;
	height:820px;
	background:url('../image/authdoc.jpg') no-repeat;
}
.cert {
	padding-left:60px;
	height:40px;
	line-height:40px;
	width:450px;
}
.cert_l {
	float:left;
	width:100px;
}
.cert_r {
	float:left;
	width:350px;
}