@CHARSET "UTF-8";
.content {
	width:960px;
	height:auto;
	margin:5px auto;
}
/*左侧栏*/
.mainleft {
	float:left;
	width:320px;
	height:auto;
/*	border-top: 1px solid #eee;
	border-left: 1px solid #eee;*/
	box-shadow: 0 -3px 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 -3px 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0px -3px 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
/*用户登录*/
.memberlogin {
	width:100%;
	height:240px;
	background-color:#fff;
}
/*div标题*/
.divtitle {
	width:100%;
	height:36px;
	line-height:36px;
	background:url(../image/title.png) no-repeat;
	background-color:#F5F5F5;
	/*border-bottom:1px solid #dddddd;*/
}
.more {float:right;width:40px;margin-right:10px;}
.more a {font-size:13px;color:#3C3C3C;text-decoration:none;}
.more a:link {color:#3C3C3C}
.more a:hover {color:#ea5e00;text-decoration:none;}
/*公告*/
.notice {
	width:100%;
	height:240px;
}
/*公告条目*/
.blockdiv {
	width:100%;
	height:205px;
	background-color: #fff;
	font-size: 14px;
	float:left;
}
.blockdiv a {
	text-decoration: none;
	transition: color .2s;
	color:#3C3C3C;
}
.blockdiv a:hover {
	color: blue;
	cursor: pointer;
}
.blockdiv ul {
	padding:0px 10px;
}
.blockdiv ul li {
	height:25px;
	line-height:25px;
	padding:2px 5px;
	overflow:hidden;
	list-style-type: disc;
	list-style-position: inside;
}
/*在线服务*/
.onlineservice {
	width:100%;
	height:235px;
	background-color:#fff;
}
.friendlink
{
	width:100%;
	height:240px;
	background-color:#fff;
}
/*右侧主体*/
.mainright {
	height:auto;
	width:636px;
	float:left;
	background-color:#fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    box-shadow: 0 -3px 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 -3px 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 -3px 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.news {
	height:240px;
	width:100%;
	padding-left:0px;
	backgroud-color:#fff;
}
.container {
	float:left;
	width:316px;
	height:235px;
	border-left: 1px solid #807e7e;
	border-right: 1px solid #807e7e;
	border-bottom: 1px solid #807e7e;
	box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.container img{width:315px; height:235px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;vertical-align:top;}

.newslist {
	float:left;
	width:316px;
	height:235px;
	padding-left:2px;
	backgroud-color:#fff;
}
.CADService {
	height:240px;
	width:100%;
}
.service {
	height:205px;width:100%;background-color:#fff;
}
.servicediv {
	float:left;height:190px;width:191px;padding:10px 10px 0 10px;
}
.serviceimage {height:80px;width:100%;padding-left:10px;}
.imageintroduction {height:96px;padding-top:10px;overflow:hidden;}
.imageintroduction a {
	font-size:13px;
	color:#3c3c3c;
	text-decoration:none;
}
.imageintroduction a:hover {
	color:blue;
    text-decoration:none;
}
.software {
	height:235px;
	width:100%;
	margin-top:0px;
}
.softrows {height:200px;width:100%;}
.softtop,.softbottom {height:100px;width:95%;margin:0px auto;}
.softlist {float:left;height:90px;width:180px;margin:5px auto;padding:0px 10px;}
.softimage {float:left;height:40px;width:40px;padding:25px 10px;}
.softimage img{width:40px;height:40px;}
.softinfo {float:left;height:70px;width:120px;text-align:left;padding:10px 0px;overflow:hidden;}
.softname {height:43px;overflow:hidden;}
.softinfo label {font-size:13px;color:#3c3c3c;}
.softinfo a {font-size:13px;color:blue;text-decoration:none;}
.softinfo a:link {color: blue}
.softinfo a:hover {color:#ea5e00;text-decoration:none;}

.video {height:235px;width:100%;margin-top:0px;}
.videoimage {height:120px;padding-left:20px;}
.videoimage img {width:150px;height:100px;}
.videoinfo {height:70px;padding-left:20px;overflow:hidden;}
.videoname {height:40px;overflow:hidden;}
.video label {font-size:13px;color:#3c3c3c;}
.videoinfo img {width:12px;height:12px;}
.videoinfo a {font-size:13px;color:blue;text-decoration:none;}
.videoinfo a:link {color: blue}
.videoinfo a:hover {color:#ea5e00;text-decoration:none;}


