@CHARSET "UTF-8";

.header {
	height:35px;
	width:100%;
	line-height:35px;
	background-color:#F5F5F5;
	border-bottom:1px solid #eee;
}
.headcontent {
	width:960px;
	margin:0px auto;
	padding-left:7px;
}
.pipe {
	float:left;
	margin:0 5px;
	color:#000;
}
.contentleft {
	float:left;
}
.contentleft a {
	float:left;
	font-size:14px;
	color:#3C3C3C;
}
.contentleft a:link {
	text-decoration:none;
}
.contentleft a:hover {
	color:#ea5e00;
	text-decoration:underline;
}
.contentright {
	height:35px;
	width:60px;
	float:right;
	margin-right:5px;
}
.contentright a {
	float:left;
	font-size:14px;
	color:#3C3C3C;
}
.contentright a:link {
	text-decoration:none;
}
.contentright a:hover {
	color:#ea5e00;
	text-decoration:underline;
}