@CHARSET "UTF-8";
.tips{
	width:100%;
	margin:0px;
	height:30px;
	line-height:30px;
	color:red;
}
.loginform {
    width:100%;
    height:180px;
    display:block;
}
.row {
    margin-top:10px;
    margin-bottom:20px;
    height:36px;
    line-height:36px;
}
.reg {
	float:right;
	margin-right:45px;
	margin-top:0px;
    font-size: 14px;
    font-weight:bold;
    cursor: pointer;
    width: 76px;
    height: 32px;
    line-height:32px;
    color: #fff;
    text-align:center;
 	background: url(../image/nav_bg.png) repeat-x;
 	box-shadow: 0 0px 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0px 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.loginform label {
    width:80px;
    float:left;
    text-align:right;
    padding:0px 10px;
    line-height:32px;
    font-size:14px;
}
.loginform input {
    padding: 0 10px 0 6px;
    float: left;
    width:160px;
    background-position: 0 -160px;
    background-repeat: no-repeat;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height:30px;
    font-size: 14px;
    color: #333;
}
#submit,.register {
    margin:0px 0 0 25px;
    font-size: 14px;
    cursor: pointer;
    width: 76px;
    height: 32px;
    font-weight:bold;
    color: #fff;
    text-align:center;
 /*   background-color:#0066cc;*/
 	background: url(../image/nav_bg.png) repeat-x;
 	box-shadow: 0 0px 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0px 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.loginform form a{
    margin-left:30px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	box-shadow: 10px;
}
.loginform form a:link{
    color:#0099FF;
    text-decoration:none;
}
.loginform form a:hover{
    color:#ea5e00;
    text-decoration:none;
}
