@CHARSET "UTF-8";

.logo {
	height:150px;
	width:100%;
	margin:1px auto;
/*	background: #fff;
	background: url(../image/logo_bg.png) repeat-x;
	background: linear-gradient(#99ccff, #fff);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ccff', endColorstr='#fff');
	background: -moz-linear-gradient(top, #99ccff, #fff); 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#99ccff), to(#fff));
	filter:progid:DXImageTransform.microsoft.gradient(gradienttype=0,startColorStr=#99ccff,endColorStr=#fff);
*/}
.logocontent {
	height:150px;
	width:960px;
	margin:auto;
}
.logoimg {
	float:left;
	width:360px;
	height:100%;
}
.logocontent img {
	vertical-align:left;
}
.top-search {
	margin: 65px 0 0 100px;
	color: #666;
	float: right;
	display: inline;
}
.top-search .sim-select {
	float: left;
	display: inline;
	position: relative;
	width: 75px;
	height: 33px;
	overflow:hidden;
	border: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-radius: 3px 0 0 3px;
	margin-top: 3px;
	background:#fff;
}
.top-search .sim-select h3 {
	line-height: 33px;
	font-weight: normal;
	font-size: 14px;
	text-align:center;
	background: url(../image/pulldown.png) right 50% no-repeat;
	margin-top:0px;
	cursor: pointer;
	float: left;
	display: inline;
	width: 70px;
}
.top-search .sim-select .sim-ul-flt {
	margin-top: -1px;
	position: absolute;
	left: -1px;
	top: 34px;
	z-index: 1000;
}
.inp-txt-wrap {
	border: 1px solid #c1c1c1;
	float: left;
	display: inline;
	margin-top: 3px;
	border-radius: 0;
	font-family: "Arial","SimSun","宋体";
	height: 33px;
	width: 298px;
	border-left: 0px;
	font-size: 14px;
	position: relative;
	z-index: 1;
}
.top-search .inp-txt {
	width: 284px;
	color: #666;
	margin: 0;
	height: 33px;
	line-height: 32px;
	padding: 0px 0 0px 14px;
	border: 0px;
	font-size: 14px;
	_height: 30px;
	_line-height: 30px;
	font-family: "Arial","SimSun","宋体";
}
.top-search .submit-second-btn {
	border: 0px;
	float: left;
	display: inline;
	width: 66px;
	height: 35px;
	margin-top: 3px;
	margin-right: 0px;
	background: #ff8400 url(../image/search.png) 0px 0px no-repeat;
	cursor: pointer;
	border-radius: 0px;
}