@CHARSET "UTF-8";
.main {
	width:960px;
	height:auto;
	margin:5px auto;
	padding-bottom:100px;
}
.content {
	width:737px;
	height:auto;
	min-height:500px;
	float:left;
	text-align:left;
	border-top:1px solid #AFEEEE;
	border-left:1px solid #AFEEEE;
	border-right:1px solid #AFEEEE;
}
.lefttd {padding-left:10px;width:580px;height:36px;line-height:36px;border-bottom:1px solid #eee;}
.righttd {width:120px;font-size:14px;border-bottom:1px solid #eee;}
.lefttd a,.paging a{transition: color .2s;color:#3c3c3c;text-decoration:none;}
.lefttd a:link,.paging a:link{color:#3c3c3c;text-decoration: none;}
.lefttd a:hover,.paging a:hover{color:blue;text-decoration:underline;}

.paging {height:30px;line-height:30px;width:100%;text-align:center;padding-top:20px;}
