@CHARSET "UTF-8";
.main {
	width:960px;
	height:auto;
	margin:5px auto;
	background:#fff;
	min-height:500px;
}
.content {
	width:737px;
	height:550px;
	float:left;
	min-height:500px;
	text-align:left;
	border-top:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
	zoom: 100%;
}
.uptb tr td{
	border-bottom:1px solid #eee;
}
#ty tr td {border-bottom:0px solid #eee;}
#b_ty tr td {border-bottom:0px solid #eee;}
#s_ty tr td {border-bottom:0px solid #eee;}
#view tr td {border-bottom:0px solid #eee;}
#size tr td {border-bottom:0px solid #eee;}
#b_wd tr td {border-bottom:0px solid #eee;}
#ty tr td {border-bottom:0px solid #eee;}
#ty tr td {border-bottom:0px solid #eee;}